# Base de datos
DATABASE_URL="postgresql://usuario:password@localhost:5432/unifit"

# Puerto del servidor
PORT=3000

# JWT - Autenticación
JWT_SECRET=tu_secreto_jwt_aqui
JWT_EXPIRES_IN=8h

# Almacenamiento nube (Cloudinary)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# IA - Groq API 
GROQ_API_KEY=gsk_tu_api_key_aqui
GROQ_MODELO=openai/gpt-oss-20b

# Biometría - API Key para bridge ESP32
BIOMETRIA_API_KEY=tu_api_key_biometria_aqui
